@using MVC_TimeTracker;
@model TaskViewModel;

<p>Welcome user</p>



@{
    ViewBag.Title = "User Data";
   
}
@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>

    <script>
        // Set a timer to hide the success message after 5 seconds
        setTimeout(function () {
            document.getElementById('successMessage').style.display = 'none';
        }, 5000); // 5000 milliseconds = 5 seconds
    </script>
}




<script>
    function showCreateTaskForm() {
        var createTaskForm = document.getElementById("createTaskForm");
        createTaskForm.style.display = "block";

        var allTasksSection = document.getElementById("allTasks");
        allTasksSection.style.display = "none";
    }

    function showReports() {
        window.location.href = "/Reports/Reports";
    }
</script> 



<div>
    <div id="createTaskForm" style="padding: 20px; background-color: #f7f7f7; border: 1px solid #e1e1e1; border-radius: 5px;">
        <h4>Create Task</h4>
        <form method="post" action="/Task/SaveTask">
            <div class="row">
                <div class="col-4" style="margin-bottom: 15px;">
                    <label for="ProjectId" style="margin-bottom: 5px;">Project Name:</label>
                    <select name="ProjectId" class="form-control">
                        <option>----SELECT PROJECT NAME----</option>
                        @foreach (var project in ViewBag.Projects)
                        {
                            <option value="@project.ProjectId">@project.ProjectName</option>
                        }
                    </select>
                </div>
                <div class="col-4" style="margin-bottom: 15px;">
                    <label for="LocationId" style="margin-bottom: 5px;">Location:</label>
                    <select name="LocationId" class="form-control">
                        <option>----SELECT LOCATION----</option>
                        @foreach (var location in ViewBag.Locations)
                        {
                            <option value="@location.LocationId">@location.LocationName</option>
                        }
                    </select>
                </div>
                <div class="col-4" style="margin-bottom: 15px;">
                    <label for="CREATIONDATE" style="margin-bottom: 5px;">Date:</label>
                    <input type="date" name="CREATIONDATE" class="form-control" required />
                </div>
                <div class="col-4" style="margin-bottom: 15px;">
                    <label for="UserStoryBugNumber" style="margin-bottom: 5px;">User Story/Bug Number:</label>
                    <input type="text" name="UserStoryBugNumber" class="form-control" required />
                </div>
                <div class="col-8" style="margin-bottom: 15px;">
                    <label for="TaskDescription" style="margin-bottom: 5px;">Task Description:</label>
                    <textarea name="TaskDescription" class="form-control" required></textarea>
                </div>
                <div class="col-6" style="margin-bottom: 15px;">
                    <label for="StartTime" style="margin-bottom: 5px;">Start Time</label>
                    <input asp-for="StartTime" type="time" class="form-control" required />
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
                <div class="col-6" style="margin-bottom: 15px;">
                    <label for="EndTime" style="margin-bottom: 5px;">End Time</label>
                    <input asp-for="EndTime" type="time" class="form-control" required />
                    <span asp-validation-for="EndTime" class="text-danger"></span>
                </div>
            </div>
            <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 15px;">
                <button type="submit" class="btn btn-primary" style="padding: 10px 20px;">Submit</button>
                @if (Convert.ToInt32(TempData["Permision"]) == 1)
                {
                    <button type="button" class="btn btn-secondary" onclick="showReports()" style="padding: 10px 20px;">View Reports</button>
                }
            </div>
        </form>
    </div>
</div>










<div id="allTasks">
    
</div>







